/* ---------------Google fonts------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@1&display=swap');

.site-logo{
    font-family: 'Fondamento', cursive;
    font-weight: 900;
    font-size: 28px;
    color:#4995ff;
    text-shadow: 1px 1px #292929;
}

/* =============================================
         Site titel style
================================================*/
.nav-items-style{
    font-size: 17px;
    font-weight: bold;
    color:#4995ff;
    text-decoration: none;
    margin: 0px 5px;
    transition: all .2s ease;
    padding: 10px;
}

.nav-items-style:hover{
       color: white;
       padding:18px 10px ;
       background-color:#4995ff ;
}


.banner-container{
    background-color:#93c0ff6b ;
}

.site-name{
    font-family: 'Fondamento', cursive;
    font-weight: 900;
    color:#0f73ff;
    text-shadow: 1px 1px rgb(46, 46, 46);
   
}

/* =============================================
         header discription style
================================================*/

.site-discription{
    color: #444444;
}

.primery-btn{
    border:none;
    color: white;
    background-color: #4995ff;
}


/*------------- Specility section style ------------- */
.spicility-section{
    margin-top: -40px;
    background-color:#4492ff ;
}


.first-aid-icon{
      border-left: 1px solid;
      border-right: 1px solid;
      color : white ;
}

/*----------------- feature section style ------------- */

.service-btn{
    border:2px solid #4995ff;
    color: #4995ff;
    background-color: transparent;
    font-weight: bold;
    
}

.service-btn:hover{
    
    color: #006aff;
    background-color: #3f8fff69;
}

.log-out-btn{
    margin-left: 5px;
    border: none ;
    padding: 4px 10px;
    border-radius: 5px;
    background-color:#4995ff ;
    color: white;
}


/* ==============================================
               Cards style
=================================================*/
.card-style{
    box-shadow: 1px 1px  4px #9e9d9d;
    transition: all .5s ease;
    border-radius: 5px;
}




.slidr-label{
      color: rgb(7, 164, 255);
      font-size: 25px; 
      text-shadow: 1px 1px black;
      font-weight: bold;
      
}